# Database
DATABASE_URL="postgresql://user:password@localhost:5432/vende_o_que_te_sobra"

# NextAuth
NEXTAUTH_SECRET="seu-secret-aqui-gere-com-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"